DB_NAME=ecommerce_m4
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=ingresar_poassword

PORT=3000
HOST=localhost

CLOUDINARY_CLOUD_NAME='ingresar_cloud_name'
CLOUDINARY_API_KEY=ingresar_api_key
CLOUDINARY_API_SECRET='ingresar_api_secret'